%li
  = link_to "Start discussion!", new_thing_path
%li
  - if signed_in?
    Hi, #{current_user.email}
    = link_to "Sign out", sessions_sign_out_path
  - else
    = link_to "Sign in", new_session_path